@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    -webkit-tap-highlight-color: transparent;
    @apply selection-light dark:selection-dark;
  }

  ::-webkit-scrollbar {
    @apply w-3;
  }

  ::-webkit-scrollbar-track {
    @apply bg-lightGray;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-md bg-blue hover:bg-darkBlue;
  }

  html {
    font-family: "Nunito Sans", sans-serif;
  }

  img {
    @apply h-auto max-w-full select-none bg-cover bg-no-repeat align-middle italic;
  }
}

@layer components {
  #cards-container {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    @apply grid items-stretch gap-20 p-10;
  }
}

@layer utilities {
  .selection-light::selection {
    @apply bg-veryDarkBlue text-lightGray;
  }

  .selection-dark::selection {
    @apply bg-lightGray text-veryDarkBlue;
  }
}
